.burger {
  --time: 0.2s;

  --width: 24px;
  --height: 21px;

  --line-height: 2px;
  --spacing: 6px;

  --color: #4c5866;
  --radius: 4px;

  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);

  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;

  @include mobile {
    display: flex;
    grid-area: burger;
  }

  &__line {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
    border-radius: var(--radius);

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: var(--width);
      height: var(--line-height);
      border-radius: var(--radius);
      background-color: var(--color);
      transition: transform var(--time) ease-in-out, top var(--time) ease-in-out;
    }

    &::before {
      top: calc(-1 * (var(--line-height) + var(--spacing)));
    }

    &::after {
      top: calc(var(--line-height) + var(--spacing));
    }
  }

  &--active .burger__line {
    background-color: transparent;

    &::after,
    &::before {
      top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
