.footer {
  position: relative;
  z-index: 1;

  &__top {
    padding: 32px 0;
    background: var(--c-grey-dark);
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      width: 100%;
      gap: 40px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: var(--c-grey-divider);
        opacity: 0.2;
      }
    }
  }

  &__bottom {
    padding: 5px 0;
    background: var(--c-grey-divider);
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--c-grey-dark);
  }
}

.social {
  display: flex;
  gap: 30px;

  &__link:hover .social__svg {
    fill: var(--c-blue-light);
  }

  &__link:active .social__svg {
    stroke: var(--c-blue);
  }

  &__svg {
    fill: var(--light-color);
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease-in-out;
  }
}
