.header {
  padding: 22px 0;
  border-bottom: 1px solid var(--c-grey-d);

  @include tablet {
    position: relative;
    padding: 18px 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid var(--c-grey-d);
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @include tablet {
      display: grid;
      grid-template-areas:
        "logo actions"
        "nav nav";
      grid-template-columns: 1fr auto;
      gap: 20px;
    }

    @include mobile {
      grid-template-areas:
        "logo logo"
        "burger actions";
      gap: 42px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    @include tablet {
      grid-area: actions;
    }

    .search-btn,
    .login-btn {
      width: 24px;
      height: 24px;
    }

    .login-btn {
      margin-left: 25px;
    }
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  @include tablet {
    grid-area: nav;
    padding-top: 18px;
  }

  @include mobile {
    position: fixed;
    background: var(--burger-color);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 60px;
      background-color: var(--c-grey-divider);
      height: 100vh;
      width: 100vw;
      padding: 75px 20px 20px;
      flex-direction: column;
      pointer-events: all;
      justify-content: flex-start;
      z-index: 2;
      animation: fade 0.1s linear;

      .nav__menu {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    @include tablet {
      width: 100%;
      justify-content: space-between;
      gap: 40px;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--c-grey-dark);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--c-blue);
    }

    &:active {
      color: var(--c-blue-darker);
    }

    @include mobile {
      font-size: 18px;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
