/* Base */
:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1110px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --c-grey: #85859b;
  --c-grey-dark: #4c5866;
  --c-grey-light: #d1d1e5;
  --c-grey-middle: #666;
  --c-grey-d: #ddd;
  --c-blue: #7875fe;
  --c-blue-darker: #4946b4;
  --c-blue-light: #dad9fb;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.icon-svg {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--c-grey-dark);
  transition: stroke 0.2s ease-in;
}
.icon-svg:hover {
  stroke: var(--c-blue);
}
.icon-svg:active {
  stroke: var(--c-blue-darker);
}

/* Blocks */
.header {
  padding: 22px 0;
  border-bottom: 1px solid var(--c-grey-d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header__actions .search-btn,
.header__actions .login-btn {
  width: 24px;
  height: 24px;
}
.header__actions .login-btn {
  margin-left: 25px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.nav__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--c-grey-dark);
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: var(--c-blue);
}
.nav__link:active {
  color: var(--c-blue-darker);
}

.logo {
  display: block;
  height: 22px;
  overflow: hidden;
  margin-right: 10px;
}

.search-form {
  display: flex;
  overflow: hidden;
  max-width: 0;
  transition: max-width 0.5s ease;
  position: relative;
  border-bottom: 1px solid var(--c-grey-light);
  align-items: center;
}
.search-form--open {
  max-width: 224px;
}
.search-form__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: var(--c-grey-light);
  transition: background 0.2s ease-in;
  cursor: pointer;
}
.search-form__close .icon-svg {
  width: 12px;
  height: 12px;
}
.search-form__close:hover {
  background: var(--c-blue);
}
.search-form__close:hover .icon-svg {
  stroke: var(--light-color);
}
.search-form__close:active {
  background: var(--c-blue-darker);
}
.search-form__input {
  outline: none;
  padding: 0 5px;
  border: none;
  height: 24px;
}
.search-form__input::placeholder {
  color: var(--c-grey-light);
}
.search-form__input:focus::placeholder {
  color: var(--c-grey-dark);
}
/*# sourceMappingURL=main.css.map */