<header class="header">
  <div class="container">
    <div class="header__navbar">
      <div class="header__top">
        <a class="logo">
          <img loading="lazy" src="./img/logo.svg" class="logo__img" width="140" height="22" alt="logo">
        </a>

        <nav class="nav">
          <ul class="nav__menu list-reset">
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll>Products</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll>Materials</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll>About</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll>Contacts</a>
            </li>
          </ul>
        </nav>

      </div>

      <div class="header__actions">
        <button class="search-btn btn-reset" aria-label="Open search area">
          <svg class="icon-svg">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <form class="search-form" aria-expanded="false">
          <input type="text" placeholder="Search..." class="search-form__input input-reset" aria-label="Search area">
          <button class="search-form__close btn-reset" aria-label="Close">
            <svg class="icon-svg">
              <use xlink:href="img/sprite.svg#escape"></use>
            </svg>
          </button>
        </form>
        <button class="login-btn btn-reset" aria-label="Login">
          <svg class="icon-svg">
            <use xlink:href="img/sprite.svg#log-in"></use>
          </svg>
        </button>
      </div>
    </div>
</header>