<section class="hero">
  <div class="container">
    <div class="hero__row">
      <div class="hero__content">
        <h1 class="title hero__title">Simple things. From paper</h1>
        <p class="desc hero__desc">Paper (presumably from the Italian bombagia, the original source is considered
          Iranian) is a fibrous material
          with mineral additives.</p>
        <a href="#" class="btn">Catalog</a>
      </div>
      <div class="hero__item">
        <picture class="hero__picture">
          <source media="(max-width: 767px)" srcset="img/hero-mobile@1x.webp, img/hero-mobile@2x.webp 2x"
            type="image/webp">
          <source media="(max-width: 967px)" srcset="img/hero-tablet@1x.webp, img/hero-tablet@2x.webp 2x"
            type="image/webp">
          <source srcset="img/hero@1x.webp, img/hero@2x.webp 2x" type="image/webp" />
          <img class="hero__bg" src="img/hero@2x.png" srcset="img/hero@1x.png, img/hero@2x.png 2x" alt="Paper" />
        </picture>
      </div>
    </div>
  </div>
</section>