<section class="partners p-90">
  <div class="container">
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img loading="lazy" src="./img/partner1.svg" class="partners__logo" width="197" height="55"
            alt="Logo Hahnemuhle">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img loading="lazy" src="./img/partner2.svg" class="partners__logo" width="197" height="55"
            alt="Logo Hahnemuhle"> </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img loading="lazy" src="./img/partner3.svg" class="partners__logo" width="197" height="55"
            alt="Logo Hahnemuhle"> </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img loading="lazy" src="./img/partner4.svg" class="partners__logo" width="197" height="55"
            alt="Logo Hahnemuhle"> </a>
      </li>
    </ul>
  </div>
</section>