<section class="products">
  <div class="container">
    <ul class="products__lists list-reset">
      <li class="products__list">
        <div class="products__item">
          <div class="products__pic">
            <picture class="products__picture">
              <source srcset="img/package@1x.webp, img/package@2x.webp 2x" type="image/webp" />
              <img class="products__img" src="img/package@2x.png" srcset="img/package@1x.png, img/package@2x.png 2x"
                alt="Package" />
            </picture>
          </div>
          <h3 class="products__title title title--second">Package</h3>
          <span class="products__print">Circulation: from&nbsp;50&nbsp;pieces</span>
          <p class="descr products__desc desc">
            Made of&nbsp;kraft paper or thick cardboard. Packages come in various shapes and&nbsp;colors, we will make
            molds to order.
          </p>
          <a href="#" target="_blank" class="products__link">
            More details
            <svg class="products__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__list">
        <div class="products__item">
          <div class="products__pic">
            <picture class="products__picture">
              <source srcset="img/Bags@1x.webp, img/Bags@2x.webp 2x" type="image/webp" />
              <img class="products__img" src="img/Bags@2x.png" srcset="img/Bags@1x.png, img/Bags@2x.png 2x"
                alt="Bags" />
            </picture>
          </div>
          <h3 class="products__title title title--second">Bags</h3>
          <span class="products__print">Circulation: from&nbsp;200&nbsp;pieces</span>
          <p class="descr products__desc desc">
            With&nbsp;rectangular bottom. From&nbsp;10&nbsp;cm to&nbsp;60&nbsp;cm on&nbsp;height. Materials: cardboard,
            kraft paper. Various colors and&nbsp;design.
          </p>
          <a href="#" target="_blank" class="products__link">
            More details
            <svg class="products__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__list">
        <div class="products__item">
          <div class="products__pic">
            <picture class="products__picture">
              <source srcset="img/cases@1x.webp, img/cases@2x.webp 2x" type="image/webp" />
              <img class="products__img" src="img/cases@2x.png" srcset="img/cases@1x.png, img/cases@2x.png 2x"
                alt="Cases" />
            </picture>
          </div>
          <h3 class="products__title title title--second">Cases</h3>
          <span class="products__print">Circulation: from&nbsp;30&nbsp;pieces</span>
          <p class="descr products__desc desc">
            Suitable for documents and&nbsp;other papers. Various colors, sizes and&nbsp;density. Material:
            pressed paper.
          </p>
          <a href="#" target="_blank" class="products__link">
            More details
            <svg class="products__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__list">
        <div class="products__item">
          <div class="products__pic">
            <picture class="products__picture">
              <source srcset="img/other@1x.webp, img/other@2x.webp 2x" type="image/webp" />
              <img class="products__img" src="img/other@2x.png" srcset="img/other@1x.png, img/other@2x.png 2x"
                alt="Other products" />
            </picture>
          </div>
          <h3 class="products__title title title--second">Other products</h3>
          <span class="products__print">Circulation: from&nbsp;100&nbsp;pieces</span>
          <p class="descr products__desc desc">
            Non-standard packaging, cases and&nbsp;other products of various sizes and&nbsp;configurations. Make it
            in&nbsp;as soon as possible.
          </p>
          <a href="#" target="_blank" class="products__link">
            More details
            <svg class="products__svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>