<section class="products">
  <div class="container">
    <ul class="products__lists list-reset">
      <li class="products__list">
        <div class="products__item">
          <picture>
            <source srcset="img/product-1-tablet.jpg" media="(max-width: 992px)">
            <img src="img/product-1.jpg" class="products-item__image" alt="Package">
          </picture>
          <h3 class="product__title">Package</h3>
          <span class="product__print">Circulation: from&nbsp;50&nbsp;pieces</span>
          <p class="descr product__desc desc">
            Made of&nbsp;kraft paper or thick cardboard. Packages come in various shapes and&nbsp;colors, we will make
            molds to order.
          </p>
          <a href="#" target="_blank" class="product-item__link">
            More details
            <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z">
              </path>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__list">
        <div class="products__item">
          <picture>
            <source srcset="img/product-1-tablet.jpg" media="(max-width: 992px)">
            <img src="img/product-1.jpg" class="products-item__image" alt="Bags">
          </picture>
          <h3 class="product__title">Bags</h3>
          <span class="product__print">Circulation: from&nbsp;200&nbsp;pieces</span>
          <p class="descr product__desc desc">
            With&nbsp;rectangular bottom. From&nbsp;10&nbsp;cm to&nbsp;60&nbsp;cm on&nbsp;height. Materials: cardboard,
            kraft paper. Various colors and&nbsp;design.
          </p>
          <a href="#" target="_blank" class="product-item__link">
            More details
            <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z">
              </path>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__list">
        <div class="products__item">
          <picture>
            <source srcset="img/product-1-tablet.jpg" media="(max-width: 992px)">
            <img src="img/product-1.jpg" class="products-item__image" alt="Cases">
          </picture>
          <h3 class="product__title">Cases</h3>
          <span class="product__print">Circulation: from&nbsp;30&nbsp;pieces</span>
          <p class="descr product__desc desc">
            Suitable for documents and&nbsp;other papers. Various colors, sizes and&nbsp;density. Material:
            pressed paper.
          </p>
          <a href="#" target="_blank" class="product-item__link">
            More details
            <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z">
              </path>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__list">
        <div class="products__item">
          <picture>
            <source srcset="img/product-1-tablet.jpg" media="(max-width: 992px)">
            <img src="img/product-1.jpg" class="products-item__image" alt="other products">
          </picture>
          <h3 class="product__title">other products</h3>
          <span class="product__print">Circulation: from&nbsp;100&nbsp;pieces</span>
          <p class="descr product__desc desc">
            Non-standard packaging, cases and&nbsp;other products of various sizes and&nbsp;configurations. Make it
            in&nbsp;as soon as possible.
          </p>
          <a href="#" target="_blank" class="product-item__link">
            More details
            <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z">
              </path>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>