:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1110px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --c-grey: #85859b;
  --c-grey-dark: #4c5866;
  --c-grey-light: #d1d1e5;
  --c-grey-middle: #666;
  --c-grey-d: #ddd;
  --c-grey-divider: #ebebeb;
  --c-grey-silver: #b5b5bd;
  --c-blue: #7875fe;
  --c-blue-darker: #4946b4;
  --c-blue-light: #dad9fb;
  --cgg-g: #dddddd;
}
